<div class="header" *ngIf="initialFrData && initialFrData.isSent">
  <button mat-raised-button color="primary" (click)="showFrPreview()">Vista previa en PDF</button>
</div>
<form [formGroup]="fundingRequestForm">
  <mat-expansion-panel class="sz-details-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos personales - Solicitante
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="selectedUser">{{selectedUser.name}} {{selectedUser.lastName}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field *ngIf="authService.CanManageAllFrEr() && (!initialFrData || !initialFrData.isSent)">
      <mat-select placeholder="Usuario solicitante" formControlName="createUserId" (selectionChange)="updateCurrentSelectedUser()">
        <mat-option *ngFor="let user of users" [value]='user.id'>
          {{user.name}} {{user.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nombres y apellidos" [value]="selectedUser ? (selectedUser.name + ' ' + selectedUser.lastName) : ''"
        [readonly]="true">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Cargo" [value]="selectedUser ? selectedUser.position : ''" [readonly]="true">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Carnet de Identidad" [value]="selectedUser ? selectedUser.ci : ''" [readonly]="true">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Expedido" [value]="selectedUser ? selectedUser.ciPlace : ''" [readonly]="true">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel class="sz-details-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalle de Solicitud
      </mat-panel-title>
      <mat-panel-description>
        {{fundingRequestForm.get('detail').value}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-select placeholder="Proyecto" formControlName="projectId" (selectionChange)="updateClientName()" [disabled]="initialFrData && initialFrData.isSent">
        <mat-option *ngFor="let project of userProjects" [value]='project.id'>
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Cliente" [value]="clientService.getClientName(clientIdOfSelectedProject)" readonly>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="frDate" placeholder="Fecha" formControlName="date" [readonly]="initialFrData && initialFrData.isSent">
      <mat-datepicker-toggle matSuffix [for]="frDate"></mat-datepicker-toggle>
      <mat-datepicker #frDate></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Motivo del gasto" formControlName="detail" [readonly]="initialFrData && initialFrData.isSent">
    </mat-form-field>
    <br>
    <table *ngIf="initialFrData" mat-table class="mat-elevation-z2 sz-item-table" [dataSource]="initialFrData.activity">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Accion </th>
        <td mat-cell *matCellDef="let record"> {{record.action}} </td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let record"> {{userService.getCompleteUserName(record.userId)}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let record"> {{record.date | date:'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Motivo </th>
        <td mat-cell *matCellDef="let record"> {{record.reason || ''}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['action', 'user', 'date', 'reason']; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['action', 'user', 'date', 'reason'];"></tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel class="sz-details-panel" [expanded]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lista de Items
      </mat-panel-title>
      <mat-panel-description>
        <!-- description -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table class="mat-elevation-z2 sz-item-table" [dataSource]="frItemsDataSource" matSort>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
        <td mat-cell *matCellDef="let frItem; let idx = index"> {{idx + 1}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
        <td mat-cell *matCellDef="let frItem"> {{frItem.detail}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
        <td mat-cell *matCellDef="let frItem"> {{frItem.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="singlePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
        <td mat-cell *matCellDef="let frItem"> {{frItem.singlePrice}} </td>
        <td mat-footer-cell *matFooterCellDef> Total: </td>
      </ng-container>
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> precio Total </th>
        <td mat-cell *matCellDef="let frItem"> {{frItem.totalPrice}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getFrTotal()}} </td>
      </ng-container>
      <ng-container matColumnDef="editBtn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let frItem; let idx = index">
          <button mat-raised-button color="primary" (click)="addFundingRequestItem(frItem)"> Editar </button>
          <button mat-button color="primary" (click)="deleteFundingRequestItem(idx)"> Eliminar </button>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="frGridColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: frGridColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="frGridColumns"></tr>
    </table>
    <br>
    <button mat-raised-button color="primary" (click)="addFundingRequestItem()" *ngIf="!initialFrData || !initialFrData.isSent">
      Añadir
    </button>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Observaciones" formControlName="observations" [readonly]="initialFrData && initialFrData.isSent"></textarea>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel class="sz-details-panel" *ngIf="authService.CanManageAllFrEr() && initialFrData && initialFrData.isSent">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Conformidad de la Solicitud
      </mat-panel-title>
      <mat-panel-description>
        <!-- description -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="No. de Solicitud" formControlName="code" [readonly]="true">
    </mat-form-field>
    <br>
    <div formGroupName="accordance">
      <mat-form-field>
        <mat-select placeholder="Entregado en" formControlName="paymentType" [disabled]="!canBeModified()">
          <mat-option *ngFor="let type of paymentTypes" [value]='type'>
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Comprobante" formControlName="voucher" [readonly]="!canBeModified()">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Entregado por" formControlName="deliverUserId" [value]="selectedUserId" [disabled]="!canBeModified()">
          <mat-option *ngFor="let user of users" [value]='user.id'>
            {{user.name}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Recibido por" formControlName="receiverUserId" [disabled]="!canBeModified()">
          <mat-option *ngFor="let user of users" [value]='user.id'>
            {{user.name}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <br>
  <div class="sz-action-btns">
    <button mat-raised-button color="primary" (click)="onSaveFr()" *ngIf="canBeModified()">{{isNew ? 'Crear Solicitud' : 'Actualizar Solicitud'}}</button>
    <button mat-raised-button color="primary" type="button" (click)="onApproveFr()" *ngIf="!isNew && initialFrData?.isSent && authService.CanApproveFr(initialFrData)">Aprobar</button>
    <button mat-raised-button color="warn" type="button" (click)="onRejectFr()" *ngIf="!isNew && initialFrData?.isSent && authService.CanApproveFr(initialFrData)">Rechazar</button>
    <button mat-raised-button color="primary" type="button" (click)="onCreateEr()" *ngIf="!isNew && fundingRequestService.isFrApproved(initialFrData)">Crear Formulario de Descargo</button>
    <button mat-button (click)="backToFrList()" type="button">Volver</button>
    <div style="flex: 1;"></div>
    <button mat-raised-button color="primary" type="button" (click)="onSendFr()" *ngIf="!isNew && !initialFrData?.isSent">Enviar Solicitud</button>
    <button mat-button color="warn" type="button" (click)="onDeleteFr()" *ngIf="!isNew && !initialFrData?.isSent">Eliminar</button>
  </div>
</form>