<form [formGroup]="clientForm">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informacion del Cliente
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de contacto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div formGroupName="contactDetails">
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Telefono" formControlName="phone">
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Proyectos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table *ngIf="projects.length" mat-table class="mat-elevation-z2 sz-item-table" [dataSource]="projDataSource" matSort>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td mat-cell *matCellDef="let proj"> {{proj.code}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let proj"> {{proj.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lead">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado </th>
        <td mat-cell *matCellDef="let proj"> {{userService.getCompleteUserName(proj.leadId)}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="pGridColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: pGridColumns;"></tr>
    </table>
  </mat-expansion-panel>
  <br>
  <button mat-raised-button color="primary" (click)="onSaveClient()">{{isNew ? 'Crear Cliente' : 'Actualizar Cliente'}}</button>
  <button mat-button (click)="backToClientsList()" type="button">Cancelar</button>
</form>