<form [formGroup]="clientForm">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informacion del Cliente
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de contacto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div formGroupName="contactDetails">
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefono" formControlName="phone">
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Proyectos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
    </mat-expansion-panel>
</form>