<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="clientForm" (ngSubmit)="onClientSubmit()">
        <div class="form-group">
          <label for="clientName">Nombre:</label>
          <input 
            type="text"
            id="clientName"
            formControlName="clientName"
            class="form-control">
        </div>
        Datos de Contacto
        <div formGroupName="contactInfo">
          <div class="form-group">
            <label for="contactName">Nombre:</label>
            <input 
              type="text"
              id="contactName"
              formControlName="contactName"
              class="form-control">
          </div>
          <div class="form-group">
              <label for="contactPhone">Telefono:</label>
              <input 
                type="text"
                id="contactPhone"
                formControlName="contactPhone"
                class="form-control">
            </div>
        </div>
        <label for="clientProjects">Proyectos:</label>
        <input 
          type="text"
          id="clientProjects"
          formControlName="clientProjects"
          class="form-control">
        <hr>
        <button class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>