<table mat-table matSort 
  class="mat-elevation-z2 sz-item-table" 
  [dataSource]="clientsDataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let client"> {{client.name}} </td>
  </ng-container>
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datos de Contacto </th>
    <td mat-cell *matCellDef="let client"> 
      <div>Nombre: {{client.contactDetails.name}}</div>
      <div>Telefono: {{client.contactDetails.phone}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="projects">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Proyectos </th>
    <td mat-cell *matCellDef="let client">
      <mat-chip-list>
        <mat-chip *ngFor="let project of client.projectsIds"> {{projectService.getProjectName(project)}} </mat-chip>    
      </mat-chip-list>
    </td>
  </ng-container>
  <ng-container matColumnDef="editBtn">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let client">
      <button mat-raised-button color="primary" (click)="onEditClient(client.id)">Editar</button>
      <button mat-button color="primary" (click)="onDeleteClient(client.id)">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="cListColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: cListColumns;"></tr>
</table>
<br>
<button mat-raised-button color="primary" (click)="onAddClient()"> Crear </button>