<h2 mat-dialog-title> Vista previa </h2>
<mat-dialog-content>
  <kendo-pdf-export #frPrintPreview paperSize="Letter" margin="0.5in">
    <div class="main-page">
      <div class="panel header">
        <span class="logo">
          SoluZiona
        </span>
        <span class="title">
          SOLICITUD DE FONDOS
          <br>EN AVANCE
        </span>
        <span class="codes">
          <div class="project-code">{{proj.code}}</div>
          <div class="funding-request-code">{{fr.code}}</div>
        </span>
      </div>

      <div class="panel personal-data">
        <div class="title">A. DATOS PERSONALES - SOLICITANTE</div>
        <div class="data-table">
          <div class="row">
            <div class="cell label" style="width: 25%;">Nombre y Apellidos: </div>
            <div class="cell" style="width: 40%;"> {{owner.name + ' ' + owner.lastName}} </div>
            <div class="cell label" style="width: 15%;"> Cargo: </div>
            <div class="cell" style="width: 20%;"> {{owner.position}} </div>
          </div>
          <div class="row">
            <div class="cell label" style="width: 25%;">Carnet de Identidad: </div>
            <div class="cell" style="width: 40%;"> {{owner.ci}} </div>
            <div class="cell label" style="width: 15%;"> Expedido: </div>
            <div class="cell" style="width: 20%;"> {{owner.ciPlace}} </div>
          </div>
        </div>
      </div>

      <div class="panel detail">
        <div class="title">B. DETALLE DE SOLICITUD</div>
        <div class="data-table">
          <div class="row">
            <div class="cell label" style="width: 25%;">Cliente: </div>
            <div class="cell" style="width: 40%;"> {{client.name}} </div>
            <div class="cell label" style="width: 15%;">Fecha: </div>
            <div class="cell" style="width: 20%;"> {{fr.date | date:'mediumDate'}} </div>
          </div>
        </div>
        <div class="data-table">
          <div class="row">
            <div class="cell label" style="width: 25%;">Motivo del Gasto: </div>
            <div class="cell" style="width: 75%;"> {{fr.detail}} </div>
          </div>
        </div>
        <hr>
        <div class="data-table border">
          <div class="row header-row">
            <div class="cell justified" style="width: 10%;">Item</div>
            <div class="cell" style="width: 45%;">Detalle</div>
            <div class="cell justified" style="width: 15%;">Cantidad</div>
            <div class="cell justified" style="width: 15%;">Precio Unitario</div>
            <div class="cell justified" style="width: 15%;">Precio Total</div>
          </div>
          <div class="row" *ngFor="let item of fr.items; let idx = index">
            <div class="cell justified" style="width: 10%;"> {{idx + 1}} </div>
            <div class="cell" style="width: 45%;"> {{item.detail}} </div>
            <div class="cell justified" style="width: 15%;"> {{item.quantity}} </div>
            <div class="cell justified" style="width: 15%;"> {{item.singlePrice}} </div>
            <div class="cell justified" style="width: 15%;"> {{item.totalPrice}} </div>
          </div>
          <div class="row" *ngFor="let item of emptyRows; let idx = index">
            <div class="cell justified" style="width: 10%;"> {{idx + fr.items.length + 1}} </div>
            <div class="cell" style="width: 45%;"> </div>
            <div class="cell justified" style="width: 15%;"> </div>
            <div class="cell justified" style="width: 15%;"> </div>
            <div class="cell justified" style="width: 15%;"> </div>
          </div>
        </div>
        <div class="data-table" style="margin-top: 5px">
          <div class="row footer-row">
            <div class="cell" style="width: 70%;"></div>
            <div class="cell justified total-label" style="width: 15%;"> Total </div>
            <div class="cell justified total-amount" style="width: 15%;"> {{fr.total}} </div>
          </div>
        </div>
        <div class="data-table" style="margin-top: 10px">
          <div class="row">
            <div class="cell label" style="width: 20%;"> Observaciones: </div>
            <div class="cell" style="width: 80%;"> {{fr.observations}} </div>
          </div>
        </div>
        <div class="data-table">
          <div class="row">
            <div class="cell label" style="width: 20%;">Solicitado por: </div>
            <div class="cell" style="width: 30%;"> {{owner.name + ' ' + owner.lastName}} </div>
            <div class="cell label" style="width: 20%;"> Autorizado por: </div>
            <div class="cell" style="width: 30%;"> {{approver ? (approver.name + ' ' + approver.lastName) : ''}} </div>
          </div>
        </div>
      </div>

      <div class="panel accordance">
        <div class="title">C. CONFORMIDAD DE LA SOLICITUD</div>
        <div class="data-table">
          <div class="row">
            <div class="cell label" style="width: 20%;">No. de Solicitud: </div>
            <div class="cell" style="width: 30%;"> {{fr.code}} </div>
            <div class="cell label" style="width: 20%;"> Entregado en: </div>
            <div class="cell" style="width: 30%;"> {{fr.accordance.paymentType}} </div>
          </div>
          <div class="row">
            <div class="cell label" style="width: 20%;">Entregado por: </div>
            <div class="cell" style="width: 30%;"> {{owner.name + ' ' + owner.lastName}}</div>
            <div class="cell label" style="width: 20%;"> Recibido por: </div>
            <div class="cell" style="width: 30%;"> </div>
          </div>
        </div>
      </div>
    </div>
  </kendo-pdf-export>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="downloadFr()">Exportar a PDF</button>
  <button mat-button color="primary" mat-dialog-close> Cerrar </button>
</mat-dialog-actions>