<ul class="nav flex-column nav-pills">
  <li class="nav-item">
    <a href="#" 
        class="nav-link"
        routerLinkActive="active"
        routerLink="/fundingRequests">Solicitudes</a>
  </li>
  <li class="nav-item">
    <a href="#" 
        class="nav-link"
        routerLinkActive="active"
        routerLink="/expenseReports">Descargos</a>
  </li>
  <li class="nav-item">
    <a href="#" 
        class="nav-link"
        routerLinkActive="active"
        routerLink="/projects">Proyectos</a>
  </li>
  <li class="nav-item">
    <a href="#" 
        class="nav-link"
        routerLinkActive="active"
        routerLink="/users">Usuarios</a>
  </li>
  <li class="nav-item">
    <a href="#" 
        class="nav-link"
        routerLinkActive="active"
        routerLink="/clients">Clientes</a>
  </li>
</ul>