<mat-nav-list class="sz-sidebar">
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/fundingRequests">Solicitudes</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/expenseReports">Descargos</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/projects">Proyectos</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/users">Usuarios</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/clients">Clientes</a>
</mat-nav-list>