<mat-nav-list class="sz-sidebar">
    <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/dashboard"
    *ngIf="authService.CanAccessReports()">Dashboard</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/fundingRequests">Solicitudes</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/expenseReports">Descargos</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/projects"
    *ngIf="authService.CanManageProjects()">Proyectos</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/users"
    *ngIf="authService.CanManageUsers()">Usuarios</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/clients"
    *ngIf="authService.CanManageClients()">Clientes</a>
  <mat-divider></mat-divider>
  <a mat-list-item
    href="#"
    routerLinkActive="active"
    routerLink="/settings"
    *ngIf="authService.CanManageSettings()">Configuración</a>
</mat-nav-list>