<form [formGroup]="userForm">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos personales
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Apellido" formControlName="lastName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Carnet" formControlName="ci">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Expedido en" formControlName="ciPlace">
        <mat-option *ngFor="let dpto of dptosBolivia" [value]="dpto">
          {{dpto}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de Contacto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Correo" formControlName="mail">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Telefono" formControlName="phone">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de Empleado
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Cargo" formControlName="position">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Configuración de cuenta
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="User Name" formControlName="displayName">
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="isNew">
      <input matInput placeholder="Contraseña" #userPassword>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Proyectos
    </mat-expansion-panel-header>
    <table mat-table matSort [dataSource]="pGridDataSource" class="mat-elevation-z2 sz-item-table">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
        <td mat-cell *matCellDef="let proj"> {{proj.code}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let proj"> {{proj.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lead">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado </th>
        <td mat-cell *matCellDef="let proj"> {{userService.getCompleteUserName(proj.leadId)}} </td>
      </ng-container>
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let proj"> {{clientService.getClientName(proj.clientId)}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="pGridColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: pGridColumns;"></tr>
    </table>
  </mat-expansion-panel>
  <br>
  <button mat-raised-button color="primary" (click)="onSaveUser()">{{isNew ? 'Crear Usuario' : 'Actualizar Usuario'}}</button>
  <button mat-button (click)="backToUsersList()" type="button">Cancelar</button>
</form>