<form [formGroup]="projectForm">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informacion del Proyecto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Codigo" readonly [value]="'pr-01'">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Encargado">
        <mat-option [value]="user.id" *ngFor="let user of users">{{user.name}} {{user.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Datos de Contacto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Telefono">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Miembros
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table class="mat-elevation-z2 sz-item-table" [dataSource]="members" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let member"> {{member.name}} {{member.lastName}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-select placeholder="">
              <mat-option [value]="user.id" *ngFor="let user of users">{{user.name}} {{user.lastName}}</mat-option>
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="ci">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Carnet </th>
        <td mat-cell *matCellDef="let member"> {{member.ci}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let member"> {{member.phone}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let member"> {{member.mail}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="removeBtn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let member; let idx = index">
          <button mat-button color="primary" (click)="removeMember(idx)"> Eliminar </button>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="memberGridColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: memberGridColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="memberGridColumns"></tr>
    </table>
  </mat-expansion-panel>
</form>
