.main-page {
    width: 540px;
    height: 720px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    .panel {
        width: 540px;
        border-radius: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
        border: 2px solid #000;
        padding: 5px 10px;
        .title {
            display: block;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    .data-table {
        width: 100%;
        display: table;
        font-size: 12px;
        .row {
            display: table-row;
            .cell {
                padding: 2px 5px;
                display: table-cell;
                font-weight: 600;
                &.label {
                    font-weight: 400;
                    font-style: italic;
                }
                &.justified {
                    text-align: center;
                }
            }
        }
        &.border {
            border-radius: 5px;
            box-sizing: border-box;
            border: 2px solid #000;
            .row {
                box-sizing: border-box;
                &:last-child {
                    .cell {
                        border-bottom: none;
                    }
                }
                &.header-row {
                    line-height: 20px;
                    text-align: center;
                    .cell {
                        font-size: 10px;
                        line-height: 12px;
                        vertical-align: middle;
                        border-right: 2px solid #000;
                        border-bottom: 2px solid #000;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                .cell {
                    font-size: 10px;
                    font-weight: normal;
                    vertical-align: middle;
                    background-color: transparent;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
    .header {
        height: 50px;
        display: flex;
        padding: 0;
        .logo, .codes {
            box-sizing: border-box;
            width: 117px;
            height: 46px;
        }
        .logo {
            padding: 0px 10px;
            color: rgb(180, 0, 0);
            font: bold 20px/46px "Arial";
            border-right: 1px solid #000;
        }
        .title {
            flex: 1;
            height: 46px;
            padding: 3px 10px;
            text-align: center;
            box-sizing: border-box;
            font: 600 15px/20px "Arial";
        }
        .codes {
            border-left: 1px solid #000;
        }
        .project-code, .funding-request-code {
            text-align: center;
            box-sizing: border-box;
        }
        .project-code {
            height: 33px;
            font: bold 15px/30px "Arial";
            border-bottom: 1px solid #000;
        }
        .funding-request-code {
            height: 15px;
            font: bold 12px/15px "Arial";
        }
    }
    .personal-data {
        height: 80px;
    }
    .detail {
        height: 500px;
        .totals {
            .footer-row{
                &:first-child {
                    .total-label {
                        border-top: 2px solid #000;
                        border-radius: 5px 0 0 0;
                    }
                    .total-amount {
                        border-top: 2px solid #000;
                        border-radius: 0 5px 0 0;
                    }
                }
                .total-label, .total-amount {
                    box-sizing: border-box;
                    border: 2px solid #000;
                    border-top: none;
                }
                .total-amount {
                    border-left: none;
                }
                &:last-child {
                    .total-label {
                        border-radius: 0 0 0 5px;
                    }
                    .total-amount {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }
    }
}


