<mat-expansion-panel class="sz-details-panel" [expanded]=true>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Resumen de Solicitudes y Descargos
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="reportCriteriaForm">
    <mat-form-field>
      <input matInput
        [matDatepicker]="startDatePicker"
        placeholder="Desde"
        formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        [matDatepicker]="endDatePicker"
        placeholder="Hasta"
        formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="button" 
      (click)="getFrErSummary()"
      [disabled]="!reportCriteriaForm.valid">
      <mat-icon>search</mat-icon>
      Generar Resumen
    </button>
  </form>
  <br>
  <table
    mat-table
    class="mat-elevation-z2 sz-item-table"
    [dataSource]="frErSummary">
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="frCount">
      <th mat-header-cell *matHeaderCellDef> Solicitudes </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.frCount}} </td>
    </ng-container>
    <ng-container matColumnDef="totalRequested">
      <th mat-header-cell *matHeaderCellDef> Monto total solicitado </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.totalRequested}} </td>
    </ng-container>
    <ng-container matColumnDef="frWithoutErCount">
      <th mat-header-cell *matHeaderCellDef> Solicitudes sin descargar </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.frWithoutErCount}} </td>
    </ng-container>
    <ng-container matColumnDef="totalWithoutReport">
      <th mat-header-cell *matHeaderCellDef> Monto total sin descargar </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.totalWithoutReport}} </td>
    </ng-container>
    <ng-container matColumnDef="frRejectedCount">
      <th mat-header-cell *matHeaderCellDef> Solicitudes rechazadas </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.frRejectedCount}} </td>
    </ng-container>
    <ng-container matColumnDef="frApprovedCount">
      <th mat-header-cell *matHeaderCellDef> Solicitudes aprobadas </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.frApprovedCount}} </td>
    </ng-container>
    <ng-container matColumnDef="erCount">
      <th mat-header-cell *matHeaderCellDef> Descargos </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.erCount}} </td>
    </ng-container>
    <ng-container matColumnDef="totalReported">
      <th mat-header-cell *matHeaderCellDef> Monto total descargado </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.totalReported}} </td>
    </ng-container>
    <ng-container matColumnDef="erRejectedCount">
      <th mat-header-cell *matHeaderCellDef> Descargos rechazadas </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.erRejectedCount}} </td>
    </ng-container>
    <ng-container matColumnDef="erApprovedCount">
      <th mat-header-cell *matHeaderCellDef> Descargos aprobadas </th>
      <td mat-cell *matCellDef="let userInfo"> {{userInfo.erApprovedCount}} </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="frErSummaryColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: frErSummaryColumns"></tr>
  </table>
</mat-expansion-panel>