/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.sz-content {
    padding: 10px;
}
.sz-sidebar.mat-nav-list{
    padding-top: 70px;
    width: 200px;
}
.sz-sidebar .active{
    color: white;
    background-color: #3f51b5;
}
.sz-main-title {
    flex: 1 1 auto;
}
.sz-item-table, .sz-details-panel {
    width: 100%;
}